input {
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 10px;
  height: 2rem;
  width: 30rem;
  border-radius: 30px;
  opacity: 0.7;
  color: #4d90fe;
  padding-left: 2.35rem;
  transition: 0.5s ease;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px rgba(7, 3, 3, 0.15);
}

::placeholder {
  color: #4d90fe;
}

input:hover {
  opacity: 1;
  transition: 0.7s ease;
  height: 2.75rem;
  background-color: white;
}

input:focus{
  outline: none;
}

i.fa.fa-search {
  transform: translateX(-29.75rem);
  color: #4d90fe;
}
