* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  font-family: Calibri;
  scroll-behavior: smooth;
}


router-outlet + * {
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 1000;
  width: 30rem;
  max-width: calc(100% - 15rem);
  min-width: 15rem;
}

@media only screen and (max-width: 1360px) {
  router-outlet + * {
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}


.loadbtn {
  margin: 1.25rem auto 1.5rem auto;
}

