<div class="container">

  <accordion [isAnimated]="true">

    <accordion-group  [isOpen]="true">

      <span accordion-heading>

      <img src="../../assets/logo_no_text.png" class="logoimg"/>
      <span class="logotext">
              МојаЕдукација
       </span>
      </span>
      <div class="accordion-body">

        <div class="col-12">
          <div class="col-lg-5 col-sm-12 sorting mx-1">
            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Град</mat-label>
              <mat-select name="city"
                          [ngModel]="educationUnitFilter"
                          (ngModelChange)="onCityChange($event)">
                <mat-option *ngFor="let city of cities" [value]="city">
                  {{city}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-5 col-sm-12 sorting mx-1">
            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Тип</mat-label>
              <mat-select name="type"
                          [ngModel]="educationUnitFilter"
                          (ngModelChange)="onTypeChange($event)">
                <mat-option *ngFor="let type of types" [value]="type[0]">
                  {{type[1]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-1 col-sm-12 sorting">
            <button mat-button color="primary"
                    [ngModel]="educationUnitFilter"
                    (click)="onSortChange()">
              <mat-icon>sort</mat-icon>
            </button>
          </div>


        </div>

        <br>

        <ul class="list">

          <!-- Dropdown for TYPE, Dropdown for CITY and Sorting -->

            <li class="items" *ngFor="let item of displayData">
              <a routerLink="/detail/{{item.id}}">
                <div class="unit">
                  <div class="unittext">

                  <strong *ngIf="item.type.toLowerCase()=='school'">Училиште</strong>
                  <strong *ngIf="item.type.toLowerCase()=='language_school'">Училиште за странски јазици</strong>
                  <strong *ngIf="item.type.toLowerCase()=='library'">Библиотека</strong>
                  <strong *ngIf="item.type.toLowerCase()=='kindergarten'">Градинка</strong>
                  <strong *ngIf="item.type.toLowerCase()=='dormitory'">Студентски дом</strong>
                  <strong *ngIf="item.type.toLowerCase()=='music_school'">Музичко училиште</strong>
                  <strong *ngIf="item.type.toLowerCase()=='college'">Колеџ</strong>
                  <strong *ngIf="item.type.toLowerCase()=='university'">Факултет</strong>

                  -
                  {{item.name}}, {{item.street}}, {{item.city}}<br/>
                  {{item.phone}}
                  <span *ngIf="item.website!=''">  <i *ngIf="item.phone"><br/></i>
                      <a href="{{item.website}}">{{item.website}}</a>
                    </span>

                </div>
              </div>
            </a>
          </li>
        </ul>

        <div class="text-center" style="display: flex">
          <input type="button" class="btn btn-primary loadbtn" (click)="showMore()" value="Прикажи повеќе"/>
          <div class="text-center" *ngIf="loggedIn">
            <!--                <input type="button" class="btn btn-primary " (click)="addUnit()" value="Додади образовна институција"/>-->
            <svg xmlns="http://www.w3.org/2000/svg" (click)="addUnit()" width="32" height="32" fill="currentColor" class="bi bi-plus-circle addButton" style="margin-top: 21px; margin-right: 30px; margin-left: -38px" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </div>
        </div>

      </div>
    </accordion-group>

  </accordion>

</div>
