<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <h2 class="header">Сите институции за образование</h2>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<div class="container">
  <div class="details square">

    <h4 class="modal-title" id="exampleModalLabel"><b>{{item?.name}}</b></h4>

    <div class="mb-3">Оцена:
      <span *ngFor="let num of numbers">&#9734;</span>
    </div>

    <div class="mb-3">
      <div *ngIf="item?.type"><b>Тип: </b>
        <span>{{item?.type.substring(0, 1).toUpperCase() + item?.type.substring(1)}}</span></div>
    </div>
    <div class="mb-3">
      <div *ngIf="item?.street"><b>Адреса: </b> <span>{{item?.street}}</span></div>
    </div>
    <div class="mb-3">
      <div *ngIf="item?.city"><b>Град: </b> <span>{{item?.city}}</span></div>
    </div>
    <div class="mb-3">
      <div *ngIf="item?.phone"><b>Телефонски број: </b><span>{{item?.phone}}</span></div>
    </div>
    <div class="mb-3">
      <div *ngIf="item?.website"><span class="btn btn-primary loadbtn"><a href="{{item?.website}}"><b>Посети вебсајт</b></a></span>
      </div>
    </div>
  </div>
  <div class="comments">

    <h4><b>Коментари</b></h4>
    <app-reviews></app-reviews>


  </div>


</div>
