.modal-header {
  padding-bottom: 0;
  align-items: flex-start;
  flex-direction: column;
}

.modal-body {
  padding: 0.75rem 1rem;
}


.rating {
  width: 11.5rem;
  height: 2.75rem;
  padding: 5px 10px;
  border-radius: 30px;
  background: #FFF;
  display: block;
  overflow: hidden;
  box-shadow: 0 1px #CCC,
  0 5px #DDD,
  0 7px 6px -3px #999;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating:not(:checked) > input {
  display: none;
}

#rate {
  top: -65px;
}

#rate:not(:checked) > label {
  cursor: pointer;
  float: right;
  width: 2rem;
  height: 2rem;
  display: block;
  color: rgba(0, 135, 211, .4);
  line-height: 33px;
  text-align: center;
  font-size: 2rem;
}

#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
  color: rgba(0, 135, 211, .6);
}

#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
  color: rgba(0, 135, 211, .8);
}

#rate > input:checked ~ label {
  color: rgb(0, 135, 211);
}

#like {
  bottom: -65px;
}

#like:not(:checked) > label {
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  color: rgba(233, 54, 40, .4);
  line-height: 33px;
  text-align: center;
}

#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, .6);
}

#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, .8);
}

#like > input:checked ~ label {
  color: rgb(233, 54, 40);
}

#review-form {
  background: rgb(230, 223, 243);
  position: relative;
}

form {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}

.form-title {
  font-size: 2.4rem;
}

.form {
  width: 100%;
}
